@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
  }

  input::-ms-reveal,
  input::-ms-clear,
  input::-webkit-credentials-auto-fill-button,
  input::-webkit-contacts-auto-fill-button {
    display: none !important;
  }
}
